body {
	background: url("../app/img/vegetable-basket.jpg") no-repeat center fixed;
	background-size: cover;
}

.jumbotron {
	align-self: flex-end;
	background: transparent;
	color: #fff;
}

.jumbotron > h1 {
	text-shadow: 2px 1px 0 #000;
}

.jumbotron > .lead {
	text-shadow: 2px 1px 0 #000;
}

/* signup page */

body{
	background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}


